@media (max-width: 1175px) {

  body{

    background-image: url(../img/fundo\ responsivo.jpg);
 }

 .princi{

  width: 98%;

}

.baixo{

  /* border: solid red 2px; */
 width: 98%;

 }

  
}








@media (max-width: 720px) {

    body{

       background-image: url(../img/fundo\ responsivo.jpg);
    }

    .container {
          flex-direction: column;
    }
    
    article, .vertical-menu {
      width: 100%;
      height: auto;
    }
    
    aside {  
      flex-basis: auto;
      margin-top: 20px;
   }

   .baixo{

    /* border: solid red 2px; */
   width: 98%;

   }

   table{

    /* border: solid red 2px; */
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.iselda{

  width: 98%;

}

.comedor{

  width: 98%;

}

.lemm{

  width: 98%;

}

.salubra{

  width: 98%;

}

.sly{

  width: 98%;

}

.princi{

  width: 98%;

}


   


  }