@media (max-width: 720px) {

    body{

       background-image: url(../img/fundo\ responsivo.jpg);
    }

    .container {
          flex-direction: column;
    }
    
    article, .vertical-menu {
      width: 100%;
      height: auto;
    }
    
    aside {  
      flex-basis: auto;
      margin-top: 20px;
   }
  }